# PyTorch with CUDA 13.0
--extra-index-url https://download.pytorch.org/whl/cu130
torch==2.9.0

# Hugging Face / Transformers
transformers==5.0.0rc2
datasets==4.2.0
bitsandbytes==0.48.1
huggingface_hub==1.2.3
hf-xet==1.2.0
hf-transfer==0.1.9
trl==0.26.2
peft==0.18.1
accelerate==1.10.1

# Tokenization
sentencepiece==0.2.1
protobuf==6.33.0

# Jupyter / Notebook
ipykernel==6.30.1
ipywidgets==8.1.7
notebook==7.4.7
tqdm==4.67.1

# Mistral
mistral-common==1.8.6

# MLflow
mlflow==3.8.1

# vLLM
# vllm==0.13.0